/* Estilo do cabeçalho */
header {
  background-color: #84b7c9;
  padding: 3% 12vw; /* Padding responsivo */
  border-radius: 5px;
}
body {
  background-color: #3e3e3e;
}

.search-bar {
  background-color: #f2f2f2;
  position: absolute;
  top: 50px;
  right: 20%;
  width: 50%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: left;
}

.search-bar::placeholder {
  color: rgba(98, 100, 100, 0.8);
}

.search-button {
  position: absolute;
  right: 20%; /* Ajuste fino na posição */
  top: 7.4%; /* Centraliza verticalmente */
  transform: translateY(-50%);
  background-color: #F2F2F2; /* Cor de fundo */
  color: #B2B2B2; /* Cor do texto */
  border: none;
  padding: 8px 20px; /* Espaçamento interno */
  cursor: pointer;
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave */
  }

.search-bar:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.search-icon {
  width: 20px;
  height: 20px;
  color: #666;
}

/* Estilo da barra de navegação */
nav {
  display: flex;
  justify-content: center;
  position: relative; /* Alterado para relativo */
  margin-top: 5vh; /* Distância do topo responsiva */
}

/* Estilo dos botões do menu */
nav .menu-btn {
  flex: auto;
  background-color: #f2f2f2;
  color: #000000;
  border-style: none;
  padding: 0.5%; /* Padding responsivo */
  margin: 0; /* Espaçamento entre os botões responsivo */
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 1px;
}

/* Estilo de hover dos botões do menu */
nav .menu-btn:hover {
  background-color: #cecece; /* Cor de fundo ao passar o mouse */
}

/* Estilo dos logotipos */
.logos {
  position: absolute;
  top: 1%;
  left: 1%;
}

/* Estilo dos logotipos */
.logo1, .logo2 {
  width: 10%; /* Largura responsiva */
  height: auto; /* Altura automática */
}
