header {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  background-color: #385378;
}

.header-content {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 800px;
}

.logo1, .logo2 {
  max-width: 10%;
  max-height: 80px;
}

.logo1 {
  max-width: 80px;
  max-height: 80px;
   margin-right: 10px; 
}

.logo2 {
  max-width: 45px;
max-height: 45px;
  margin-left: 10px; 
}

.search-wrapper {
  position: relative;
  flex: 1;
  display: flex;
}

.search-bar {
  flex: 1;
  min-width: 0;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding: 0 40px 0 10px;
  background-color: #ffffff; 
  color: black;
  text-align: center;
  font-size: 14px; }

.search-btn {
  position: absolute;
  right: 5px; 
  top: 30%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
}

.search-btn i {
  color: #999;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #1d1f20;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 0; 
}

.menu-btn {
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2; 
  color: black;
  font-weight: bold;
  cursor: pointer;
  height: 33px;
  margin: -5px;
  width: 150px;
}

main {
  margin: 50px auto; 
  max-width: auto; 
  background-color: #313334; 
  border-radius: 5px;
  height: auto; 
  color: white;
  margin-bottom: 400px;
  padding: 10px; 
}

.main-content {
  width: 90%; 
  max-width: 400px; 
  background-color: #313334;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}

.info {
  margin-bottom: 10px;
  font-size: 18px;
}

#name-city {
  font-weight: bold;
  color: #ffff; 
;
}

#graus {
  font-style: italic;
}

#weather-icon {
  width: 100px; 
  height: 100px;
}

#description {
  font-weight: bold;
}

#humidity, #wind {
  font-style: italic;
}

#day-0 {
  font-weight: bold;
  color: #007bff; 
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  color: white;
  background-color: #313334;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 200px;
  font-size: 12px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 3px;
}

.footer-section p {
  font-size: 12px;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .menu-btn, .search-container {
    flex-basis: auto; 
    max-width: none; 
  }

  .search-container {
    margin-top: 10px;
    flex-basis: 50%; 
    max-width: 50%; 
  }

  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  .search-bar {
    flex: 1;
    min-width: 0;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 30px 0 10px;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    margin-right: 10px; 
  }

  .search-btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    width: 40px;
    margin-right: 7px;
  }

  .search-btn i {
    color: #999;
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) {
  header {
    padding: 5px;
    text-align: center;
    margin-left: auto; /* Centraliza o cabeçalho horizontalmente */
    margin-right: auto; /* Centraliza o cabeçalho horizontalmente */
  }

  .logo1, .logo2 {
    max-width: 20%;
    margin: 0 auto;
  }

  .search-container {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-bar {
    flex: 1;
    min-width: 0;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 30px 0 10px;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    margin-right: 10px;
  }

  .search-btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    width: 40px;
  }

  .search-btn i {
    color: #999;
    font-size: 15px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajuste a margem superior */
    gap: -5px; /* Ajuste o espaçamento entre os botões */
  }

  .menu-btn {
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
    cursor: pointer;
    height: 38px;
    width: 90px; /* Ajuste a largura dos botões do menu */
  }

  @media screen and (max-width: 428px) {

        header {
    padding: 5px;
    text-align: center;
    margin-left: auto; /* Centraliza o cabeçalho horizontalmente */
    margin-right: auto; /* Centraliza o cabeçalho horizontalmente */
  }

    .logo1, .logo2 {
    max-width: 50%;
    margin: 0 auto;
  }

  .search-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start; /* Ajuste para iniciar a partir do início do cabeçalho */
  }

  .search-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* Centralize o conteúdo horizontalmente */
  }

  .search-bar {
    flex: 1;
    min-width: 0;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 30px 0 10px;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    margin-right: 10px;
  }

  .search-btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centralize o ícone horizontalmente */
  }

  .search-btn i {
    color: #999;
    font-size: 15px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: -5px;
  }

  .menu-btn {
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
    cursor: pointer;
    height: 38px;
    width: 90px;
  }
}


