header {
  position: relative;
  background-color: #84b7c9;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.search-container {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 800px;
}

.logo1, .logo2 {
  max-width: 10%;
  max-height: 80px;
}

.logo1 {
  max-width: 60px;
  height: auto;
  margin-right: 10px; /* Ajuste a margem direita para alinhar o logo 1 */
}

.logo2 {
  max-width: 60px;
  height: auto;
  margin-left: 10px; /* Ajuste a margem esquerda para alinhar o logo 2 */
}

.search-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center; /* Centraliza verticalmente o ícone de pesquisa */
}

.search-bar {
  flex: 1;
  min-width: 0; /* Permite que a barra de pesquisa diminua além de seu conteúdo */
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 0 40px 0 10px; /* Ajusta o padding para acomodar o ícone de pesquisa */
  background-color: #ffffff;
  color: black;
  text-align: center; /* Centraliza o texto */
}

.search-btn {
  position: absolute;
  right: 10px; /* Posiciona o botão de pesquisa à direita */
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.search-btn i {
  color: #999;
  font-size: 15px;
}

body {
  margin: 0;
  background-color: #1d1f20;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 0; /* Remova completamente o espaçamento entre os botões */
}

.menu-btn {
  flex: 1;
  max-width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2; /* Defina a mesma cor de fundo da barra de pesquisa */
  color: black; /* Altere a cor do texto para preto */
  cursor: pointer;
  height: 33px;
  margin: -5px;
}

main {
  margin: 20px auto; /* Margem para centralizar o elemento */
  max-width: 800px; /* Largura máxima do conteúdo principal */
  padding: 20px; /* Espaçamento interno */
  background-color: #313334; /* Cor de fundo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  border-radius: 10px;
  height: 100vh;
  color: white;
  text-align: center;
}

footer {
  margin-top: 5vh;
  background-color: #313334;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .search-bar {
    width: 60%;
  }

  .menu-btn {
    width: 30%;
  }
 
@media (max-width: 480px) {
  .search-bar {
    width: 100%;
    max-width: 100%; /* Ajusta a largura máxima para ocupar toda a largura disponível */
  }

  .search-btn {
    margin-top: 10px; /* Adiciona uma margem superior para separar o botão de pesquisa da barra de pesquisa */
  }

  .menu-btn {
    width: 80%;
  }
}
